<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuarios - Laboratorio Tamal</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/listar.css' %}">
</head>

<body>

    <div class="main-container">
        <div class="navbar">
            <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
            <div class="menu">

                <!-- Agrega las opciones del menú aquí -->
                <a href="#" onclick="openStartPage()" class="fas fa-home"> Inicio</a>
                <a href="#" onclick="openAddForm()" class="fas fa-users"> Usuarios</a>
                <a href="#" onclick="vacuForm()" class="fa fa-hospital-o"> COVID-19 Vacunas</a>
                <a href="#" onclick="countryForm()" class="fa fa-globe"> COVID-19</a>
                <a href="#" onclick="allForm()" class="fa fa-bar-chart"> COVID-19 Historia</a>
                <a href="#" onclick="openConsultaAI()" class="fa fa-bar-chart">CONSULTAS AI</a>
                <a href="#" onclick="noticias()" class="fa fa-bar-chart">noticias AI</a>




            </div>
            <h1 style="color: white;">Laboratorio Tamal</h1>
            <a href="{% url 'logout' %}" style="color:#fff; font-size: 48px" white>
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </div>

        <div class="table-container">

            <button class="add-button" onclick="openInfoForm()">Agregar</button>
            <br>
            <br>
            <table id="dniTable" class="display">
                <thead>
                    <tr>
                        <th>DNI</th>
                        <th>Nombres</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Correo</th>
                        <th>Acción</th>

                    </tr>
                </thead>
                <tbody>
                    {% for dni_info in dni_info_list %}
                    <tr>
                        <td>{{ dni_info.dni }}</td>
                        <td>{{ dni_info.nombres }}</td>
                        <td>{{ dni_info.apellido_paterno }}</td>
                        <td>{{ dni_info.apellido_materno }}</td>
                        <td>{{ dni_info.correo }}</td>
                        <td class="action-icons">
                            <a href="#" style="color: blue; font-size: 20px;"><i class="fas fa-edit"></i></a>
                            <a href="#" style="color: red; font-size: 20px;"><i class="fas fa-trash-alt"></i></a>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

    <script>
        function toggleMenu() {
            var menu = document.querySelector('.menu');
            menu.style.width = menu.style.width === '200px' ? '0' : '200px';
            document.querySelector('.main-container').style.marginLeft = menu.style.width === '200px' ? '200px' : '0';
        }

        function closeMenu() {
            var menu = document.querySelector('.menu');
            menu.style.width = '0';
            document.querySelector('.main-container').style.marginLeft = '0';
        }

        // Inicializar DataTable
        $(document).ready(function () {
            $('#dniTable').DataTable();
        });

        function openInfoForm() {
            // Redirigir a la página dniinfo.html
            window.location.href = '/dni_info';
        }

        function openAddForm() {
            // Redirigir a la página dniinfo.html
            window.location.href = '/listar_dni_info';
        }
        function openStartPage() {
            // Redirigir a la página dniinfo.html
            window.location.href = '/inicio';
        }

        function vacuForm() {
            // Redirigir a la página dniinfo.html
            window.location.href = '/vacuna_info';
        }

        function countryForm() {
            // Redirigir a la página dniinfo.html
            window.location.href = '/info_covid_pais';
        }
        function allForm() {
            // Redirigir a la página dniinfo.html
            window.location.href = '/grafico_covid';
        }
        function openConsultaAI() {
            // Redirigir a la página dniinfo.html
            window.location.href = '/openai_consulta';
        }
        function noticias() {
            // Redirigir a la página dniinfo.html
            window.location.href = '/noticias';
        }


    </script>

</body>

</html>